body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  min-height: 100vh;
    background: linear-gradient(45deg, #0d0053 85%, #ffffff 100%);
    color: white;
    background-repeat: no-repeat;
}

p {
    font-size: 1.2rem;
}

.info-box {
  background-color: #0d0053; 
  border-radius: 15px;      
  border: 1px solid #ffffff;      
  flex-shrink: 0;             
  text-align: center;
}

.cadre {
    background-color: rgba(13, 0, 83, 0.7);
    border: 2px solid white;
    border-radius: 15px;
    padding: 10px;
    color: #ffffff;
}

.nav-link {
    color: white;
}

.nav-item {
    font-weight: bold;
}

.navbar .nav-link:hover {
  color: rgb(135, 135, 135);
}

.navbar .nav-link:focus {
  color: rgb(135, 135, 135);
}

.active {
    color: #ffffff !important;
}

.carousel {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
}

.slides {
    display: flex;
    width: 100%;
    transition: transform 0.5s ease;
}

.slide {
    width: 100%;
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    color: white;
}

.navigation {
    display: flex;
    position: absolute;
    justify-content: center;
    margin-top: 10px;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 11;
}

.navigation label {
    width: 12px;
    height: 12px;
    background: #ccc;
    border-radius: 50%;
    margin: 5px;
    cursor: pointer;
}

/* Slides control */
#slide1:checked~.slides {
    transform: translateX(0);
}

#slide2:checked~.slides {
    transform: translateX(-33.33%);
}

#slide3:checked~.slides {
    transform: translateX(-66.66%);
}

#slide1:checked~.navigation label:nth-child(1),
#slide2:checked~.navigation label:nth-child(2),
#slide3:checked~.navigation label:nth-child(3) {
    background: #333;
}

h1 {
    text-align: center;
    margin-top: 15px;
}

.carousel-indicators [data-bs-target] {
    background-color: #ffffff;
}

#carouselCircuit .carousel-indicators {
    position: absolute;
    bottom: 20px;
    /* distance depuis le bas de l’image */
    left: 50%;
    transform: translateX(-50%);
    z-index: 10;
    margin: 0;
}

#carouselCircuit .carousel-indicators [data-bs-target] {
    width: 12px;
    height: 12px;
    border-radius: 50%;
}


.dropdown-menu {
    background-color: #0d0053;
}

.dropdown-item, hr.dropdown-divider {
    color: white;
}